<h1>Create concert</h1>
<form action="/concert/new" method="post">
  <label for="name">Concert Name:
    <input type="text" name="name" id="name">
  </label>
  <br>
  <label for="band">Band:
    <input type="text" name="band" id="band">
  </label>
  <br>
  <label for="duration">Duration:
    <input type="text" name="duration" id="duration">
  </label>
  <br>
  <label for="playbackId">playbackId:
    <input type="text" name="playbackId" id="playbackId">
  </label>
  <br>
  <label for="streamKey">streamKey:
    <input type="text" name="streamKey" id="streamKey">
  </label>
  <br>
  <label for="streamId">streamId:
    <input type="text" name="streamId" id="streamId">
  </label>
  <br>
</form>